<mat-form-field appearance="fill">
    <mat-label>이름</mat-label>
    <input matInput type="text" [(ngModel)]="name">
</mat-form-field> <br>
<mat-form-field appearance="fill">
    <mat-label>주민등록번호</mat-label>
    <input matInput type="text" [(ngModel)]="idNumber">
</mat-form-field> <br>
<mat-form-field appearance="fill">
    <mat-label>전화번호</mat-label>
    <input matInput type="text" [(ngModel)]="phoneNumber">
</mat-form-field> <br>
<mat-label>주소</mat-label>
<div>
    <mat-form-field appearance="fill">
        <mat-label>시</mat-label>
        <input matInput type="text" [(ngModel)]="address.city" placeholder="시">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>구</mat-label>
        <input matInput type="text" [(ngModel)]="address.gu" placeholder="구">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>로</mat-label>
        <input matInput type="text" [(ngModel)]="address.roName" placeholder="로">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>번지</mat-label>
        <input matInput type="text" [(ngModel)]="address.roNumber" placeholder="번지">
    </mat-form-field>
</div>
<button (click)="onSave()">Save</button>
<button (click)="onRead()">Read</button>
<button (click)="onClear()">Clear</button>